<nav>
  <ul class="pagination">
    <li class="page-item" [appClass]="{ disabled: currentPage === 0 }">
      <a (click)="onPreviousClick()" class="page-link">Previous</a>
    </li>
    <ng-container *appTimes="images.length; let i = index">
      <li
        class="page-item"
        *ngIf="checkPaginationView(i)"
        [appClass]="{ active: i === currentPage }"
      >
        <a (click)="onPageClick(i)" class="page-link">{{ i + 1 }}</a>
      </li>
    </ng-container>
    <li
      class="page-item"
      [appClass]="{ disabled: currentPage === images.length - 1 }"
    >
      <a (click)="onNextClick()" class="page-link">Next</a>
    </li>
  </ul>
</nav>

<div>
  <h4>{{ images[currentPage].title }}</h4>
  <img [src]="images[currentPage].url" />
</div>
